apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: koorde-cache
  region: us-west-2

# Use existing LabRole (required for AWS Learner Lab)
iam:
  serviceRoleARN: arn:aws:iam::849778011007:role/LabRole
  withOIDC: false

managedNodeGroups:
  - name: standard-workers
    instanceType: t3.xlarge
    minSize: 3
    maxSize: 64
    desiredCapacity: 36
    volumeSize: 20
    iam:
      instanceRoleARN: arn:aws:iam::849778011007:role/LabRole
